<table class="table table-striped table-hover table-bordered">
    <h3>All links</h3>
    <thead>
    <tr>
        <th>#</th>
        <th>Real links</th>
        <th>Short links</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="link in mainPageLinks.links">
        <td>{{$index+1}}</td>
        <td class="overAuto"><a href="{{link.realLinks}}">{{link.realLinks}}</a></td>
        <td><a href="{{link.shortLinks}}">{{mainPageLinks.hostnamePort}}/{{link.shortLinks}}</a></td>
        <td><a ng-click="mainPageLinks.mainPageLinksDetails(link)">Details</a></td>
    </tr>
    </tbody>
</table>
<div class="pagination-wrap">
    <ul class="pagination">
        <li ng-repeat="page in mainPageLinks.paginationList" ng-click="mainPageLinks.showNumPage(page.link)" ng-class="{'active': mainPageLinks.currentPages == page.link}"><a>{{page.name}}</a></li>
    </ul>
</div>
