<h1>Details links</h1>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Real links</th>
        <th>Short links</th>
        <th>Descriptions</th>
        <th>Tags</th>
        <th>Date created</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{$index+1}}</td>
        <td class="overAuto"><a href="{{mainPageLinksDetails.linkDetails.realLinks}}">{{mainPageLinksDetails.linkDetails.realLinks}}</a></td>
        <td><a href="{{mainPageLinksDetails.linkDetails.shortLinks}}">{{mainPageLinksDetails.hostnamePort}}/{{mainPageLinksDetails.linkDetails.shortLinks}}</a></td>
        <td>{{mainPageLinksDetails.linkDetails.description}}</td>
        <td><a ng-repeat="tag in mainPageLinksDetails.linkDetails.hashtags track by $index" ng-click="mainPageLinksDetails.linksForTag(tag)">#{{tag}}</a> </td>
        <td>{{mainPageLinksDetails.linkDetails.dateCreated| date : "dd MMM yy"}}</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" ng-click="mainPageLinksDetails.backOnMainPageLinks()">Back</a>
