<form name="registrationUserForm" class="form-horizontal bg-warning" novalidate ng-submit="userRegistration.addNewUser(newUser, registrationUserForm.$valid)">
    <h1>Registration</h1>
    <div class="form-group">
        <label for="inputLogin" class="col-sm-2 control-label">Login:</label>
        <div class="col-sm-10">
            <input type="text" name="username" class="form-control" id="inputLogin" placeholder="Login" required ng-minlength="3" ng-maxlength="30" ng-model="newUser.username">
            <div class="error"  ng-messages="registrationUserForm.username.$error" ng-show="registrationUserForm.username.$touched||registrationUserForm.$submitted">
                <div ng-messages-include="my-valid-messages"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required ng-minlength="3" ng-maxlength="30" ng-model="newUser.password">

            <div class="error" ng-messages="registrationUserForm.password.$error" ng-show="registrationUserForm.password.$touched||registrationUserForm.$submitted">
                <div ng-messages-include="my-valid-messages"></div>
            </div>
        </div>
    </div>
    <button type="submit"  class="btn btn-primary btn-block">Registration</button>
    <div growl></div>
</form>