<h1>Links for tag: {{searchLinkForTag.tag}}</h1>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Real links</th>
        <th>Short links</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="link in searchLinkForTag.linksForTag">
        <td>{{$index+1}}</td>
        <td class="overAuto"><a href="{{link.realLinks}}">{{link.realLinks}}</a></td>
        <td><a href="{{link.shortLinks}}">{{searchLinkForTag.hostnamePort}}/{{link.shortLinks}}</a></td>
        <td><a ng-click="searchLinkForTag.mainPageLinksDetails(link)">Details</a></td>
    </tr>
    </tbody>
</table>
