<h3>Details user links {{userPageDetailsLink.userName}}</h3>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Real links</th>
        <th>Short links</th>
        <th>Descriptions</th>
        <th>Tags</th>
        <th>Clicks</th>
        <th>Date created</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{$index+1}}</td>
        <td class="overAuto"><a href="{{userPageDetailsLink.linkDetails.realLinks}}">{{userPageDetailsLink.linkDetails.realLinks}}</a></td>
        <td><a href="{{userPageDetailsLink.linkDetails.shortLinks}}">{{userPageDetailsLink.hostnamePort}}/{{userPageDetailsLink.linkDetails.shortLinks}}</a></td>
        <td>{{userPageDetailsLink.linkDetails.description}}</td>
        <td><a ng-repeat="tag in userPageDetailsLink.linkDetails.hashtags track by $index" ng-click="userPageDetailsLink.linksForTag(tag)">#{{tag}}</a> </td>
        <td>{{userPageDetailsLink.linkDetails.clicks}}</td>
        <td>{{userPageDetailsLink.linkDetails.dateCreated| date : "dd MMM yy"}}</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" ng-click="userPageDetailsLink.backOnUserPage()">Back</a>
