<div class="userPageH1">
    <h4 class="bg-success">Welcome to your page, {{userPage.userName}}!</h4>
</div>

<form name="createShortLinkForm" class="form-inline bg-info" novalidate ng-submit="userPage.addNewLink(newLink, createShortLinkForm.$valid)">
    <h3>Create short link:</h3>
    <div class="form-group">
        <label for="inputLink" class="col-sm-5 control-label">Real link:</label>
        <div class="col-sm-10">
            <input type="text" name="linkName" class="form-control" id="inputLink" placeholder="Real link" required ng-minlength="3" ng-model="newLink.realLinks">
        </div>
        <div class="error"  ng-messages="createShortLinkForm.linkName.$error" ng-show="createShortLinkForm.linkName.$dirty||createShortLinkForm.$submitted">
            <div ng-messages-include="my-valid-messages"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputDetailsLink" class="col-sm-3 control-label">Details:</label>
        <div class="col-sm-10">
            <input type="text" name="detailsLink" class="form-control" id="inputDetailsLink" placeholder="Details" ng-model="newLink.description">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTagsLink" class="col-sm-3 control-label">Tags:</label>
        <div class="col-sm-10">
            <input type="text" name="tagsLink" class="form-control" id="inputTagsLink" placeholder="Tags" ng-model="newLink.hashtags">
        </div>
    </div>
    <button type="submit"  class="btn btn-primary">Creat short link</button>
    <div growl></div>
</form>
<h3 ng-show="userPage.links.length !== 0;">Your links:</h3>
<table ng-show="userPage.links.length !== 0;" class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Real links</th>
        <th>Short links</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="link in userPage.links">
        <td>{{$index+1}}</td>
        <td class="overAuto"><a href="{{link.realLinks}}">{{link.realLinks}}</a></td>
        <td><a href="{{link.shortLinks}}">{{userPage.hostnamePort}}/{{link.shortLinks}}</a></td>
        <td><a ng-click="userPage.userPageDetailsLink(link)">Details</a></td>
        <td><a ng-click="userPage.editShortLink(link)">Edit</a></td>
        <td><a ng-click="userPage.deleteLink(link._id)">Delete</a></td>
    </tr>
    </tbody>
</table>
<div class="pagination-wrap">
    <ul class="pagination">
        <li ng-repeat="page in userPage.paginationList" ng-click="userPage.showNumPage(page.link)" ng-class="{'active': userPage.currentPages == page.link}"><a>{{page.name}}</a></li>
    </ul>
</div>
