<h3>Edit link</h3>
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Real links</th>
        <th>Short links</th>
        <th>Descriptions</th>
        <th>Tags</th>
        <th>Clicks</th>
        <th>Date created</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{$index+1}}</td>
        <td class="overAuto"><a href="{{userPageEditLink.linkDetails.realLinks}}">{{userPageEditLink.linkDetails.realLinks}}</a></td>
        <td><a href="{{userPageEditLink.linkDetails.shortLinks}}">{{userPageEditLink.hostnamePort}}/{{userPageEditLink.linkDetails.shortLinks}}</a></td>
        <td>{{userPageEditLink.linkDetails.description}}</td>
        <td>{{userPageEditLink.linkDetails.hashtags}}</td>
        <td>{{userPageEditLink.linkDetails.clicks}}</td>
        <td>{{userPageEditLink.linkDetails.dateCreated| date : "dd MMM yy"}}</td>
    </tr>
    </tbody>
</table>
<form name="editDetailstLinkForm" class="form-inline bg-info" novalidate ng-submit="userPageEditLink.editShortLink(userPageEditLink.linkDetails, editDetailstLinkForm.$valid)">
    <div class="form-group">
        <label for="inputDescriptionLink" class="col-sm-2 control-label">Description:</label>
        <div class="col-sm-10">
            <input type="text" name="linkDescription" class="form-control" id="inputDescriptionLink" placeholder="description" ng-model="userPageEditLink.linkDetails.description">
        </div>
    </div>
    <div class="form-group">
        <label for="inputHashtagsLink" class="col-sm-2 control-label">Hashtags:</label>
        <div class="col-sm-10">
            <input type="text" name="hashtagsLink" class="form-control" id="inputHashtagsLink" placeholder="hashtags" ng-model="userPageEditLink.linkDetails.hashtags">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Edit short link</button>
    <button type="submit" class="btn btn-primary" ng-click="userPageEditLink.backOnUserPage()">Cancel</button>
</form>

